
<header role="banner">
  <form method="GET" action="result" class="form" role="search">
  <h1>Web Accessibility Checker</h1>
    <label for="submittedUrl">Enter a URL below:</label>
    <input type="text" name="submittedUrl" id="submittedUrl" value="{{data.url}}" class="urlForm" placeholder="Enter a URL including http://" />
  </form>
</header>


<div class="result" role="main">
  {{#if data}}
    {{#if data.violations}}
      {{#each data.violations}}
        <div class="set">
          <h2>{{help}}</h2>
          <p>{{description}}</p>
          <p><strong>Impacted Nodes</strong></p>
          <ul>
            {{#each nodes}}
              <li>
                <pre><code>{{html}}</code></pre>
              </li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    {{else}}
      <p>There are no violations.</p>
    {{/if}}
  {{else}}
    <p>This will check for accessibility violations.</p>
  {{/if}}
</div>
